:root {
  --holberton: #e1344b;
}

[data-priority*='default'] {
  color: blue;
}

[data-priority*='urgent'] {
  color: red;
}

.Notifications {
  display: flex;
  justify-content: space-between;

  padding: 2rem 4rem;

  outline: 2px dashed var(--holberton);
  outline-offset: -20px;

  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

.Close-buttton {
  display: flex;

  max-height: 20px;
  max-width: 20px;

  align-items: center;
  justify-content: center;

  border: none;
  background: none;
}
